<form name="result" method="post" action="rmagen.jag" class="form-horizontal" id="resulti" role="form">
	<table class="table-responsive">
	<thead></thead>
	<tbody>
		<tr>
			<td class="" align="left" width="200" valign="middle">Machine No.:</td>
			<td><textarea style = "resize:none" readonly id="txtareamac" rows="1" columns="20" name="macnum">{{Machinenumber}}</textarea></td>
		</tr>
		<tr>
			<td class="" align="left" width="200" valign="middle">Warranty Date :</td>
			<td><textarea style = "resize:none" readonly id="textareawdate" rows="1" columns="20" name="wtydate">{{Warrantydate}}</textarea></td>
		</tr>
		<tr>
			<td class="" align="left" width="200" valign="middle">Warranty Status :</td>
			<td><textarea style = "resize:none" readonly id="textareawstatus" rows="1" columns="20" name="wtysta">{{Warrantystatus}}</textarea></td>
		</tr>
		<tr>
			<td class="" align="left" width="200" valign="middle">Machine Owner :</td>
			<td><textarea style = "resize:none" readonly id="textareawstatus" rows="1" columns="20" name="ownm">{{Ownername}}</textarea></td>
		</tr>
	</tbody>
	</table><br />
	<button type="submit" class="btn btn-default col-md-offset-1" id="createRmai" name="createRma">{{Buttonval}}</button>
</form>


