<form name="showrmanumberinfo" action="" method="post" id="showrmanumberinfoi" enctype="multipart/form-data" class="form-horizontal" role="form">
	<div class="form-group col-md-12">
		<div class="col-md-6">
			<label for="firstname">First Name : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{ufn}}</textarea>
		</div>
		<div class="col-md-6">
			<label for="lastname">Last Name : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{uln}}</textarea>
		</div>
	</div>
	<div class="form-group col-md-12">
		<div class="col-md-6">
			<label for="machineowner">Machine Owner : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{umo}}</textarea>
		</div>
		<div class="col-md-6">
			<label for="machinenumber">Machine Number : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{umn}}</textarea>
		</div>
	</div>
	<div class="form-group col-md-12">
		<div class="col-md-6">
			<label for="rmanumber">RMA Number : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{urn}}</textarea>
		</div>
		<div class="col-md-6">
			<label for="priority">Priority : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{up}}</textarea>
		</div>
	</div>
	<div class="form-group col-md-12">
		<div class="col-md-6">
			<label for="warrantydate">Warrant Date : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{uwd}}</textarea>
		</div>
		<div class="col-md-6">
			<label for="warrantystatus">Warranty Status : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{uws}}</textarea>
		</div>
	</div>
	<div class="form-group col-md-12">
		<div class="col-md-6">
			<label for="email">Email : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{ue}}</textarea>
		</div>
		<div class="col-md-6">
			<label for="subject">Subject : </label>
			<textarea style="resize:none" name="clientname" cols="1" rows="1" class="form-control" id="serialnumberi" readonly>{{us}}</textarea>
		</div>
	</div>
	<div class="form-group col-md-12" style="margin-left:1px;">
		<label for="message">Message : </label>
		<textarea style="resize:none" name="clientname" rows="5" cols="10" class="form-control" id="serialnumberi" readonly>{{um}}</textarea>
	</div>
	<div class="form-group col-md-12" style="margin-left:1px;">
		<a href="search.jag" class="btn">Go Back</a>
	</div>
</form>

